<header>
    <nav>
        <a href="/">Biblio</a>
        <ul>
            <li>
                <a href="/authors">Authors</a>
                <a href="/authors/new_author">New Author</a>
            </li>
        </ul>
    </nav>
</header>